.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex; 
    width: 100%;
    margin-bottom: 15px;
    margin-left: 50px;
    

  }
  #title{
    font-style: oblique;
    font-family: "Audiowide";
    color: aqua;
  }
  .ip{
    justify-content: space-between;  
    display: flex; 
    flex: none;
    flex-direction: row; 
  } 
  #this{
    width:600px;
  }
  .icon {
    padding: 10px;
    background: crimson;
    color: white;
    min-width: 70px;
    text-align: center;
  }
  
  .input-field {
    width:400px;
    padding: 7px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
h1{
   font-family: fantasy;
   font-size: 40px;
   font-weight: 300px;
   color:  rgba(0, 0, 255, 0.967);
   margin-left: 200px;
}
.house p{
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 10px;
    font-size: 30px;
    color: rgb(127, 146, 250);
    background-origin: padding-box;
}
.house:hover {
    font-size: 32px;
}
.icons {
    margin-left: 300px;
    
}
.image {
    margin-left: 50px;
}
.likes-section {
  display: flex;
  padding-bottom: 100px;
  margin-left: 50px;
  align-items: center;
  padding: 0 10px;
  display: -ms-flexbox; /* IE10 */
  width: 100%;
  margin-bottom: 15px;
  
}

.likes {
  font-size: 0.9rem;
  font-weight: 900;
}
.poject {
  background-color: rgb(178, 180, 191);
}
.like-button {
  color: royalblue;
  font-size: 70px;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
  margin-left: 100px;
  border: 10px;
}

.like-button:hover {
  color: rgb(241, 71, 19);
}

.like-button:active {
  color: rgb(169, 253, 124);
}

.like-button:focus {
  outline: none;
}

.comments {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 20px;
}
#see {
  float: right;
  background-color: chartreuse;
  margin-right: 700px;
  /* //padding-bottom: 500px; */
}
.comments li {
  margin: 2px 0;
  margin-right: 200px;
  /* letter-spacing: 0.2px; */
  color: rgb(0, 121, 130);
  
}
.section {
  display: flex;
  margin-right: 
}
.comment-form {
  width: 20%;
  border-top: 10px solid #00000020;
  padding: 10px;
  margin-top: 10px;
  
  margin-left: 30px;
}
#comment {
  width: 300px;
  background-color: rgba(115, 16, 115, 0.132);
}

.comment-input {
  width: 83%;
  border-style: groove ; 
   font-size: 20px;
  border-color: rgb(220, 197, 20);
}

.comment-input:focus {
  outline: none;
}

.comment-button {
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: purple;
  color: rgb(92, 114, 238);
   cursor: pointer; 
  transition: color 300ms;
}

.comment-button:hover {
  color: rgb(37, 68, 245);
}

.comment-button:active {
  color: rgb(127, 146, 250);
  
}

.comment-button:focus {
  outline: none;
}
  
